
button {
    cursor: pointer;
}

.we-are-creative {
    background-image: url("Step Project Ham/Sections background/section-1(header).jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.header-we-are-creative {
    background-color: rgba(0, 0, 0, 0.4);
}
.header-content {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hexagon {
    display: flex;
    justify-content: center;
    width: 58px;
    height: 40px;
    background: #18CFAB;
    position: relative;
}
.hexagon::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-bottom: 14px solid #18CFAB;
}
.hexagon::after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-top: 14px solid #18CFAB;
}
.logo-h{
    font-weight: bold;
    font-size: 40px;

    color: white;
}
.logo-text {
    padding-left: 6px;
    color: white;
}
.color-text {
    font-weight: 700;
    color: #18CFAB;
}
.header-logo {
    display: flex;
    align-items: center;
    font-size: 20px;
}
.header-nav-list{
    text-align: center;
    display: flex;
    justify-content: space-between;

}
.nav-menu {
    display: flex;
    width: 580px;
    justify-content: space-between;
}
.text-menu:hover{
    border-bottom: 2px solid #18CFAB;
}
.text-menu:hover .grey-text{
    color: #18CFAB;
}
.text-menu {
    display: inline;
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 2px solid transparent;
}
.grey-text{
    color: rgba(255, 255, 255, 0.6);
}
a {
    text-decoration: none;
    cursor: pointer;
}
.header-search {
    display: flex;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.header-search-icon {
    fill:#B8B8B8;
    height: 25px;
}
.header-search-icon:hover {
    fill:#18CFAB;
    cursor: pointer;
}
.content-we-are-creative {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc((100vh) - 120px);

}
.content-wac-text{
    color: white;
    padding-bottom: 22px;
    align-self: center;
}
.content-wordpress {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}
.content-creative {
    font-size: 78px;
    font-weight: bold;
    text-transform: uppercase;
}
.content-just {
    font-size: 35px;
    color: rgba(212, 212, 212, 1);
    font-family: Montserrat;
    font-weight: 400;
    text-transform: capitalize;
}
.buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 243px;
}
.button-green {
    background: #18CFAB;
    padding: 17px;
    font-size: 15px;
    margin-right: 25px;
    box-shadow: 0 -2px white;
    border-radius: 3px;
}
.button-blue {
    background: #00CBF6;
    padding: 17px 11px;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 3px;
    box-shadow: 0 -2px white;
}
.button-blue a{
    color: white;
}
.button-green a{
    color: white;
}
.frames-icons {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.different-theme-option, .unlimited-support{
    background: #1C2A33;
    padding-top: 95px;
    padding-bottom: 110px;
    text-align: center;
    text-transform: uppercase;
}
.fully-customizable, .responsive-all-device {
    background: #18CFAB;
    padding-top: 106px;
    padding-bottom: 110px;
    text-transform: uppercase;
    text-align: center;
}
.frames-icons-text-green {
    display: grid;
    color: #18CFAB;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 47px;
}
.frames-icons-text-white {
    display: grid;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 58px;
}
.our-services {
    margin: 0 auto;

    display: flex;
    padding-top: 85px;
    padding-bottom: 90px;
    align-items: center;
    flex-direction: column;
}
.standart-title {
    display: flex;
    font-size: 36px;
    font-family: Montserrat;
    padding-bottom: 28px;
    position: relative;
}
.standart-title::after{
    content: "";
    display: inline-block;
    border-bottom: 2px solid #18CFAB;
    width: 79px;
    box-shadow: 15px 4px 0 0 #18CFAB;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.our-service-content{
    width: 1160px;
}
.our-service-content-menu {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background: #F8FCFE;
}
.osc-menu-list {
    font-size: 16px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid #EDEFEF;
    color: rgba(113, 113, 113, 1);
    cursor: pointer;
}
.osc-menu-list:hover {
    border-color: #18CFAB;
}

.osc-menu-list-click {
    background: #18CFAB;
    color: white;
    font-size: 16px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
}
.osc-menu-list-click::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 14px solid #18CFAB;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.our-service-content-webdesign, .our-service-content-adddesign, .our-service-content-graphicdesign, .our-service-content-seoservice, .our-service-content-onlinesupport, .our-service-content-onlinemarketing {
    padding-top: 25px;
    display: flex;
}
.our-service-img, .our-service-text {
    display: flex;
}
.hide {
    display: none;
}
.show{
    display: flex;
}
.osc-text {
    color: rgba(119, 119, 119, 1);
    line-height: 24px;
    padding-left: 15px;
}
.dark-image {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url("Step Project Ham/Sections background/section-2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 125px;
    padding-bottom: 125px;
}
.dark-image-title {
    align-self: center;
    color: rgba(24, 207, 171, 1);
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.dark-image-text {
    align-self: center;
    font-size: 16px;
    color: rgba(216, 216, 216, 1);
    padding-bottom: 65px;
}
.dark-image-button {
    background: #18CFAB;
    padding: 16px 11px;
    font-size: 15px;
    box-shadow: 0 -2px white;
    border-radius: 3px;
    text-transform: uppercase;
}
.dark-image-button a{
    color: white;
}
.our-amazing-work {
    background: #E9EDEF;
    padding-top: 95px;
    padding-bottom: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.amazing-work-content-menu {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
}

.oaw-menu-list{
    font-size: 16px;
    padding: 14px;
    color: rgba(113, 113, 113, 1);
    border: 1px solid #DADADA;
    cursor: pointer;
}
.amazing-pictures {
    width: 1060px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 70px;
}
.graphic-design, .landing-page, .web-design, .wordpress {
    overflow: hidden;
    position: relative;
    display: none;
}
.graphic-design-hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-top: 2px solid #18CFAB;
    background: rgba(233, 237, 239, 1);
    transform: translateY(0);
    padding: 42px 59px;
    width: 100%;
    position: absolute;
}

.circles {
    display: flex;
}
.empty-circle {
    width: 40px;
    height: 40px;
    border: 2px solid #18CFAB;
    border-radius: 50%;
    margin-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.empty-circle:hover {
    background: #18CFAB;
    cursor: pointer;
}
.empty-circle:hover .square-in{
    background: white;
}
.chain-in {
    fill: #18CFAB;
}
.empty-circle:hover .chain-in{
    fill: white;
}
.square-in {
    width: 12px;
    height: 12px;
    background: #18CFAB;
}
.hover-block-name{
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 40px;
    font-weight: 700;
}
.pictures-group-name {
    font-size: 12px;
    color: rgba(138, 138, 138, 1);
    padding-top: 15px;
}
.graphic-design:hover .graphic-design-hover{
    transform: translateY(-100%);
    transition: 0.5s;

}
.landing-page:hover .graphic-design-hover{
    transform: translateY(-100%);
    transition: 0.5s;
}
.web-design:hover .graphic-design-hover{
    transform: translateY(-100%);
    transition: 0.5s;
}
.wordpress:hover .graphic-design-hover{
    transform: translateY(-100%);
    transition: 0.5s;
}
.searching-pic:hover {
    cursor: pointer;
}
.amazing-button {
    background: #18CFAB;
    font-size: 15px;
    border-radius: 3px;
    padding: 22px;
    font-weight: 700;
}
.amazing-button a{
    color: white;
}
.hide-button {
    display: none;
}
.oaw-menu-list-active {
    border: 1px solid #18CFAB;
}
.show-pictures {
    display: block;

}
.breaking-news {
    padding-top: 80px;
    padding-bottom: 130px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.breaking-news-pictures {
    padding-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 33px;
    grid-row-gap: 43px;
}
.breaking-news-blocks{
    position: relative;
}
.breaking-news-text {
    font-weight: 700;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    color: rgba(113, 113, 113, 1);
}
.breaking-news-blocks:hover .breaking-news-text {
    color: #18CFAB;
    font-size: 18px;
    padding-left: 15px;
}
.breaking-news-admin {
    color: rgba(119, 119, 119, 1);
    padding-top: 15px;
    padding-left: 10px;
}
.date {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70px;
    height: 70px;
    font-size: 16px;
    background: #203E38;
    position: absolute;
    top: 0;
    right: 0;
}
.breaking-news-blocks:hover .date {
    background: #18CFAB;
}
span {
    color: white;
}
.reviews {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("Step Project Ham/Sections background/section-3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-reviews {
    color: white;
}
.reviews-element {
    padding-top: 68px;
}
.reviews-text {
    color: rgba(187, 187, 187, 1);
    line-height: 30px;
    font-size: 16px;
    width: 1160px;
    text-align: center;
    padding-top: 35px;
}
.about-the-Ham-text {
    padding-top: 70px;
    color: white;

}
.swiper-container {
    width: 1160px;
    margin: 0 auto;
    min-width: 0;
}
.swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.signature {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
:root {
    --swiper-theme-color: none;
}
:root {
    --swiper-navigation-size: 14px;
}

.review-name {
    color: #18CFAB;
    text-transform: uppercase;
    font-weight: bold;
}
.review-type {
    color: #BBBBBB;
    padding-top: 15px;
}
.barsik-beatiful {
    overflow: hidden;
    width: 145px;
    height: 145px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 6px solid rgba(31, 218, 181, 0.2);
    margin: 40px 0 220px 0;
}
.barsik-beatiful img {
    width: 100%;
    height: 100%;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    outline: none;
    border: 4px solid rgba(31, 218, 181, 0.5);
}

.swiper-pagination-bullet:nth-child(1){
    content: url("Step Project Ham/img/cats-q-c-265-210-1.jpg");
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    opacity: 1;
}
.swiper-pagination-bullet:nth-child(2){
    content: url("Step Project Ham/img/cats-q-c-265-210-2.jpg");
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    margin-left: 25px;
    opacity: 1;
}
.swiper-pagination-bullet:nth-child(3){
    content: url("Step Project Ham/img/cats-q-c-265-210-3.jpg");
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    margin-left: 25px;
    opacity: 1;
}
.swiper-pagination-bullet:nth-child(4){
    content: url("Step Project Ham/img/cats-q-c-265-210-4.jpg");
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    margin-left: 25px;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    transform: translateY(-15px);
    transition: 0.5s;
}
.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    display: inline-block;
    transition: 100ms transform, 100ms top;
}
.swiper-button-next, .swiper-button-prev {
    top: 78%;
    left: 64%;
    border: 1px solid #BBBBBB;
    width: 30px;
    height: 30px;
    outline: none;
}
.swiper-button-prev {
    left: 33%;
}
.swiper-button-white:hover {
    background-color: #18CFAB;
    border-color: #18CFAB;
}
.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 90px;
}
.the-ham-footer {
    background: #22353F;
    padding-top: 53px;
    padding-bottom: 53px;
    display: flex;
    justify-content: center;
}
.footer-text {
    color: #AEAEAE;
}
.footer-color {
    color: #18CFAB;
}
